body {
  font-family: Arial, Helvetica, sans-serif;
  height: 3000px;
  background-color: rgb(240, 240, 240);
}

.cover-photo-container {
  background-color: gray;
  height: 300px;
  overflow: hidden;
}

.cover-photo {
  height: 100%;
  width: 100%;
}

.profile-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  width: 600px;
  height: 450px;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;

}

.profile-picture-container {
  height: 140px;
  width: 140px;
  background-color: black;
  border-radius: 90px;
  margin-top: -130px;
  margin-bottom: 25px;
  overflow: hidden;
  border: 6px solid white;
}

.profile-picture {
  max-height: 100%;
}

.profile-name {
  font-weight: bold;
  font-size: 40px;
  color: rgb(54, 54, 54);
}

.hometown {
  font-size: 14px;
  color: gray;
  margin-bottom: 40px;
}

.profile-bio-container {
  padding-left: 150px;
  padding-right: 150px;
}

.profile-bio {
  font-size: 18px;
  color: rgb(100, 100, 100);
  text-align: center;
}

.profile-feed {
  display: flex;
  justify-content: center;
}

.stats-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.stats-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.stats-count {
  margin-bottom: 5px;
  font-size: 20px;
  color: gray;
}

.wall-button-container {
  margin-top: 50px;
}

.wall-button {
  background-color: rgb(255, 80, 109);
  border-radius: 50px;
  border: none;
  padding: 15px 25px;
  color: White;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}